@mixin list-base() {
    display: flex;
    flex-direction: column; /* 上から下へ */
    flex-wrap: wrap; /* 折り返しあり */
}

@mixin list-item-base() {
    flex: 0 1 auto; /* flex-grow flex-shrink, flex-basis */
}
